
h1{
    color: #000000de;

    font-size: 30px;

   
    background-color:#ff00ea;

    text-align: center; 
}
body {background-color: violet;} 

body {background-image: url('paginaweb.jpg')}

@media (max-width: 768px) {
    .column {
      flex: 100%
    }
  
    .nav-links {
      display: none
    }
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border: none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px
    }
  
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px
    }
  }